[submodule "base"]
  path = base
  url = git@github.com:dickeyxxx/docker-base
[submodule "apache2"]
  path = apache2
  url = git@github.com:dickeyxxx/docker-apache2
[submodule "haproxy"]
  path = haproxy
  url = git@github.com:dickeyxxx/docker-haproxy
[submodule "redis"]
  path = redis
  url = git@github.com:dickeyxxx/docker-redis
